/* Header y footer */
/* Fonts */
/* Body color */
/* General */
* {
  margin: 0;
  padding: 0; }

/* Class */
.fonts {
  font-family: "Bebas Neue", sans-serif; }

.footer {
  background-color: #adb5bd;
  height: 10vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0; }
  .footer .footer__redes {
    display: flex; }

.navbarbgc {
  background-color: #adb5bd; }

.noMargin {
  margin: 0; }

.page-wrapper {
  padding-top: 5%;
  display: flex;
  -webkit-display: flex;
  justify-content: space-around; }

.card-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.carta {
  background-color: #fff;
  margin: 15px;
  width: 325px;
  height: 325px;
  padding: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  box-sizing: border-box;
  overflow: hidden; }
  .carta .carta * {
    transition: 0.3s ease all; }
  .carta .carta__img {
    object-fit: cover;
    display: block; }
  .carta .carta__titulo {
    margin: 0;
    padding: 12px 12px 48px;
    line-height: 32px;
    font-weight: 500;
    font-size: 20px; }
  .carta .carta__focus {
    display: block;
    padding: 8px 12px; }
  .carta .carta__texto {
    margin: 0;
    line-height: 1.5; }

.carta:hover img,
.carta:focus-within img {
  margin-top: -100px; }

.carta:hover h3,
.carta:focus-within h3 {
  padding: 8px 12px 0; }

.contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30 px;
  flex-wrap: nowrap;
  align-items: center; }
  .contacto .contacto__titulo {
    text-align: center; }
  .contacto .contacto__texto {
    text-align: center; }
  .contacto .contacto__box {
    background-color: #adb5bd;
    margin: 5px;
    padding: 15px;
    border: 1px solid #000;
    border-radius: 15px;
    width: 40%; }
  .contacto .contacto__espacio {
    margin-bottom: 10px; }

.compras {
  color: #000;
  order: 0;
  padding: 10px; }

button.navbar-toggler {
  order: 1; }

.form-check {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px; }

.checkbox {
  display: flex;
  gap: 0.5rem; }
  .checkbox input {
    width: 10rem; }

.darkModeSwitch {
  background-color: #adb5bd;
  display: flex;
  position: fixed;
  cursor: pointer;
  outline: none;
  border: 1px solid #e8f1f2;
  border-radius: 1rem;
  align-items: center;
  justify-content: space-between;
  bottom: 20px;
  left: 25px;
  z-index: 99; }

.darkModeSwitch span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  color: #fff;
  background: none; }

.darkModeSwitch::after {
  display: block;
  background-color: #fffbf5;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 3rem;
  transition: all 0.5s ease;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.5);
  content: ""; }

.darkModeSwitch.active {
  background-color: #fdd384; }

.darkModeSwitch.active::after {
  left: unset;
  right: 0; }

body.dark {
  background-color: #2a2438;
  color: #dbd8e3; }
  body.dark div.card {
    background-color: #352f44; }
  body.dark div.carta {
    background-color: #352f44; }
  body.dark div.contacto__box {
    background-color: #352f44; }

/* Estilos */
header {
  position: sticky;
  top: 0;
  z-index: 99; }

footer i {
  margin: 5px;
  height: 100%;
  color: #000; }

h1 {
  text-align: center;
  padding: 0.5em; }

select {
  width: 100%; }

input {
  width: 100%;
  margin-bottom: 8px; }

textarea {
  width: 100%;
  height: 8rem; }

body {
  background-color: #e8f1f2; }
